<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connection180" connectionString="kOEJi5ZQckwHADPHshkbzCZ2+xfWAJNA+2imy+zxSWYk940fJhPcbMBaa121JMDL3l7IBHy/nVhyXrQrE7qwboE9exKZo4TsVsojYzgCfRIlpx0gZzCYokz/WrBydewxsjlLA/FRKRhTPJ8Tkc13zA=="/>
    <add name="connection" connectionString="wi2iiBCaobczmw5HJRqCiXHXUza8g3/15VljqHDI0ZQ+5HZjletDv5yMsqThp2BtBsyWt4l+88eqEIVQH4pufeQzjJ7aO2qJVcpf6oKaJWRanNj/Ew/mJoYshqkAH0fJRLYmL6J6fsrMIK9VDqKh1Q=="/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
